{% extends 'base.html.twig' %}

{% block title %}Hello AllCompaniesController!{% endblock %}

{% block body %}
    {% for company in companies %}


        <a href="{{ path("single_company", {name: company.name} ) }}">
            <h1>{{ company.name }}</h1>
            <img src="{{ asset(company.imagePath) }}" height="150" alt="€{{ company.name }}">
        </a>

        <hr>

    {% endfor %}
{% endblock %}
