{% extends 'base.html.twig' %}

{% block title %}Hello SingleCategoryController!{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    {% for company in category.companies %}
        <p>{{ company.name }}</p>
        <img src="{{ asset(company.imagePath) }}" height="150" alt="help">
    {% endfor %}
{% endblock %}
